<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>세상의 모든 프로젝트</title>

    <link href="/css/contents.css" rel="stylesheet">

    <!-- Bootstrap -->

      <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>


      </style>

  </head>
  <body>
    <div class="container-fluid">
        <div class="row" id="topMenu">
            <div class="col-1" id="logo">logo</div>
            <div class="col-8" id="search"><input name="search" value="" type="text" placeholder="search"></div>
            <div class="col-1" id="icon">icon1</div>
            <div class="col-1" id="icon">icon2</div>
            <div class="col-1" id="icon">icon3</div>
        </div>
    </div>
    <div class="wrap">
        <div class="container-fluid">
            <div class="card-deck">

            </div>
            <div class="inProgress">
                <a class="inProgressA" href="#">나도 프로젝트 중이예요</a>
            </div>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/contents.js"></script>

  </body>
</html>
