<!DOCTYPE html>
<html>
    <head>
        <title>세상의 모든 프로젝트</title>
        <link rel='stylesheet' href='/css/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>세상의 모든 프로젝트</h1>
            </div>
            <div class="loginForm">
                <form name="login" method="post" id="login">
                    <input name="id" value="" type="text" placeholder="ID">
                    <input name="pw" value="" type="password" placeholder="Password">
                </form>
                <div class="footer">
                    <button class="signup" name="signup">처음이신가요?</button>
                </div>
            </div>

        </div>
    </body>
</html>
