<!DOCTYPE html>
<html>
    <head>
        <title>세상의 모든 프로젝트</title>
        <link rel='stylesheet' href='/css/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>세상의 모든 프로젝트</h1>
            </div>
            <div class="loginForm">
                    <input id="id" value="" type="text" placeholder="ID">
                    <input id="pw" value="" type="password" placeholder="Password">
            </div>
            <div class="footer">
                <button class="signup" name="signup">처음이신가요?</button>
            </div>
        </div>
    </body>
</html>
