<!DOCTYPE html>
<html>
    <head>
        <title>세상의 모든 프로젝트</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <div class="container">
            <div class="outer">
                <div class="inner">
                    <div class="centered">
                        <div class="header">
                            <h1>세상의 모든 프로젝트</h1>
                        </div>
                        <div class="loginForm">
                            <div class="idInput">
                                <input id="id" value="" type="text" placeholder="ID">
                            </div>
                            <div class="passwordInput">
                                <input id="pw" value="" type="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="footer">
                            <button name="signup">처음이신가요?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
