<!DOCTYPE html>
<html>
    <head>
        <title>Temp Comment Upload Form</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <div class="container">
            <div class="header">
            <div class="loginForm">
                <form name="writecomment" method="post" id="comment" action='/api/comment'>
                    <input name="project" value="" type="text" placeholder="projectid">
                    <input name="content" value="" type="text" placeholder="content">
                    <button class="signup" name="signup">Send</button>
                </form>
            </div>
            </div>

        </div>
    </body>
</html>
