<!DOCTYPE html>
<html>
    <head>
        <title>세상의 모든 프로젝트</title>
    </head>
    <body>
    <div class="uploadForm">
        <form name="upload" method="post" id="login" action="/api/upload" enctype="multipart/form-data">
            Title<input name="title" value="" placeholder="PrjName" type="text"><br>
            Abstract<input name="summary" value="" placeholder="Abstract" type="text"><br>
            Category<input name="category" value="" placeholder="ctgry" type="text"><br>
            Content<input name="content" value="" placeholder="content" type="text"><br>
            Uploads<input name="photo" type="file" multiple><br>


            <input value="올리기" type="submit">
        </form>
    </div>
    </body>
</html>
