<!DOCTYPE html>
<html>
    <head>
        <title>세상의 모든 프로젝트</title>
    </head>
    <body>
    <div class="uploadForm">
        <form name="upload" method="post" id="login" action="">
            <input name="title" value="" placeholder="제목" type="text">
            <input name="abstract" value="" placeholder="요약" type="text">
            사진
            <input name="photo" type="file">


            <input value="올리기" type="submit">
        </form>
    </div>
    </body>
</html>